<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <label for="" class="control-label me-4">I am a: </label>
        <label for="" class="radio-inline">
            <input type="radio" formControlName="gender" value="male"> Male
        </label>
        <label for="" class="radio-inline">
            <input type="radio" formControlName="gender" value="female" class="ms-3"> Female
        </label>
    </div>
    <app-text-input formControlName="username" label="Username"></app-text-input>
    <app-text-input formControlName="knownAs" label="known As"></app-text-input>
    <app-date-input formControlName="dateOfBirth" [maxDate]="maxDate" type="date" label="Date Of Birth"></app-date-input>
    <app-text-input formControlName="city" label="City"></app-text-input>
    <app-text-input formControlName="country" label="Country"></app-text-input>
    <app-text-input formControlName="password" label="Password" type="password"></app-text-input>
    <app-text-input formControlName="confirmPassword" label="Confirm Password" type="password"></app-text-input>

    <div class="row " *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" [disabled]="!registerForm.valid" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>

</form>